<!-- Include Thebelab for interactive code if it's enabled -->
{% if site.use_thebelab_button %}

<!-- Display Thebelab button in each code cell -->
{% include js/thebelab-cell-button.html %}

<script>
    /**
     * Thebelab loads "reset CSS" after the theme styles load and so,
     * it invalidates part of the theme rules. To make the theme CSS to take
     * the correct precedence, we listen for Thebelab to finish loading, then
     * relocate the theme CSS and start Thebelab.
     */
    const thebeLabScript = document.createElement('script');
    thebeLabScript.src = "{{ site.vendor_url | relative_url }}/thebelab/index.js"
    thebeLabScript.async = true
    thebeLabScript.onload = () => {
        setTimeout(() => {
            document.head.append(
                ...document.querySelectorAll('#theme-style, #custom-style'))
        })
        initFunction(initThebelab)
    }
    document.head.append(thebeLabScript);

    /**
     * Add attributes to Thebelab blocks
     */
    function initThebelab() {
        const addThebelabToCodeCells = () => {
            console.log("Adding thebelab to code cells...");
            // If Thebelab hasn't loaded, wait a bit and try again. This
            // happens because we load ClipboardJS asynchronously.
            if (window.thebelab === undefined) {
                setTimeout(addThebelabToCodeCells, 250)
            return
            }

            // If we already detect a Thebelab cell, don't re-run
            if (document.querySelectorAll('div.thebelab-cell').length > 0) {
                return;
            }

            // Find all non-hardware, code cells, replace with Thebelab interactive code cells
            const hardwareTag = 'uses-hardware'
            const hardwareQuery = `.jb_cell.tag_${hardwareTag}`
            const noHardwareQuery = `.jb_cell:not(.tag_${hardwareTag})`
            const codeCells = document.querySelectorAll(`${noHardwareQuery} pre[id^="codecell"]`)
            codeCells.forEach((codeCell, index) => {
                const id = codeCellId(index)

                // Clean up the language to make it work w/ CodeMirror and add it to the cell
                dataLanguage = "{{ kernelName }}"
                dataLanguage = detectLanguage(dataLanguage);
                codeCell.setAttribute('data-language', dataLanguage)
                codeCell.setAttribute('data-executable', 'true')

                // If the code cell is hidden, show it
                var inputCheckbox = document.querySelector(`input#hidebtn${codeCell.id}`);
                if (inputCheckbox !== null) {
                    setCodeCellVisibility(inputCheckbox, 'visible');
                }
            });

            // Create link to IQX and hardware notice template
            const currentPath = window.location.pathname
            const contentPath = currentPath.slice('{{ site.baseurl }}'.length)
            const notebookPath = contentPath.replace(/\.html$/, '.ipynb')
            const iqxUrl = `{{ site.iqx_url }}/content${notebookPath}`

            const usesHardwareNotice = document.createElement('template')
            usesHardwareNotice.innerHTML = `
            <div class="uses-hardware-notice">
                {{ site.hardware_warning_message }}
                <a href="${iqxUrl}" target="_blank">{{ site.hardware_warning_linktxt }}</a>
            </div>
            `

            // Add warning and link to IQX on uses-hardware cells
            const hardwareCells = document.querySelectorAll(hardwareQuery)
            hardwareCells.forEach((cell) => {
                cell.prepend(usesHardwareNotice.content.cloneNode(true))
                cell.querySelector('a').addEventListener('click', (evt) => {
                    try {
                        window.trackCta(`Hardware Cell ${getInputCell(evt.target)}`)
                    } catch {}
                    return true;
                })
            });

            // Remove the event listener from the page so keyboard press doesn't
            // Change page
            document.removeEventListener('keydown', initPageNav)
            keyboardListener = false;

            // Init thebelab
            thebelab.bootstrap();

            // Remove copy buttons since they won't work anymore
            const copyAndThebeButtons = document.querySelectorAll(`${noHardwareQuery} .copybtn, .thebebtn`)
            copyAndThebeButtons.forEach((button, index) => {
                button.remove();
            });

            // Remove outputs since they'll be stale (ignore outputs with removed inputs)
            const outputs = document.querySelectorAll(':not(.tag_remove_input) > .output_wrapper')
            outputs.forEach((output, index) => {
                output.remove();
            });

            // Find any cells with an initialization tag and ask ThebeLab to run them when ready
            var thebeInitCells = document.querySelectorAll('div.tag_thebelab-init');
            thebeInitCells.forEach((cell) => {
                console.log("Initializing ThebeLab with cell: " + cell.id);
                cell.querySelector('.thebelab-run-button').click();
            });

            // Add analytics per cell
            const thebelabRunButtons = document.querySelectorAll('.thebelab-run-button');
            thebelabRunButtons.forEach((runButton) => {
                runButton.addEventListener('click', (evt) => {
                    window.trackCta(`Run ${getInputCell(evt.target)}`)
                })
            });
        }

        // Add event listener for the function to modify code cells
        const thebelabButtons = document.querySelectorAll('[id^=thebelab], [id$=thebelab]')
        thebelabButtons.forEach((thebelabButton,index) => {
            if (thebelabButton === null) {
                setTimeout(initThebelab, 250)
                return
            };
            thebelabButton.addEventListener('click', addThebelabToCodeCells);
            // Add segment analytics
            thebelabButton.addEventListener('click', () => {
                window.trackCta('Make Interactive');
            });
        });

        function getInputCell(button) {
            const parent = button.parentElement;
            if (parent === null) {
                return 'unknown';
            }
            if (parent.id.startsWith('inputcell')) {
                return parent.id;
            }
            return getInputCell(parent);
        }
        addThebelabToCodeCells();
    }

// Helper function to munge the language name
var detectLanguage = (language) => {
    if (language.indexOf('python') > -1) {
        language = "python";
    }
    return language;
}
</script>
{% endif %}
