
{% if site.data[page.locale] %}
    {% assign messages = site.data[page.locale].messages %}
{% else %}
    {% assign messages = site.data.messages %}
{% endif %}

<ul class="libket-navbar">
    <li class="left navbar__logo">
	    <a href="https://libket.ewi.tudelft.nl/">
	    <img src="/textbook/assets/images/logo_libket_white.png">
	    </a>
    </li>
    <li class="libket-navbar__icons"><a href="/textbook/search.html"><img src="/textbook/assets/images/search-solid-purple.svg"></a></li>
    <li class="entry__active"><a href="https://libket.readthedocs.io/">{{ messages.nav_documentation }}</a></li>
 </ul>

