{% if site.data[page.locale] %}
{% assign messages = site.data[page.locale].messages %}
{% else %}
{% assign messages = site.data.messages %}
{% endif %}

<div class="c-topbar" id="top-navbar">
  <!-- We show the sidebar by default so we use .is-active -->
  <!-- Empty sidebar placeholder that we'll auto-fill with javascript -->
  <aside class="hamburger__left">
    <span id="js-sidebar-toggle" class="hamburger is-active">
	    <img class="sidebar_closed_img" src="/textbook/assets/images/rightarrow_purple.svg" title="Show Contents">
	    <img class="sidebar_open_img" src="/textbook/assets/images/leftarrow_purple.svg" title="Hide Contents">
    </span>
  </aside>
  {% if page.id contains "preface" %}
  <aside class="sidebar__right preface">
  {% else %}
  <aside class="sidebar__right">
  {% endif %}
    <!-- Search form -->
    <header>
      <form action="{{ '/search.html' | relative_url }}" method="GET">
        <button type="submit" id="submit">
          <img src="{{ site.images_url | relative_url }}/search-solid.svg" alt="Search">
        </button>
        <input type="text" id="siderbar-search-input" name="search">
      </form>
    </header>

    {% unless page.id contains "preface" %}
    <div class="onthispage__title">{{ messages.on_this_page }}</div>
    <nav class="onthispage">
    </nav>
    <!-- Chapter formats -->
    {% unless page.title == "What is Quantum?" %}
    <div>
      <a
        href="{{ '/' | append: page.interact_link | relative_url }}"
        rel="noopener"
        class="download__link"
      >
        {{ messages.download_notebook }}
        <img src="{{ site.images_url | relative_url }}/download-solid.svg" class="download-button">
      </a>
    </div>
   <div>
      <a
	href="https://github.com/mmoelle1/LibKet/tree/master/{{ page.interact_link }}"
	class="download__link"
      >
      {{ messages.contribute_github }}
      <img src="{{ site.images_url | relative_url }}/launch.svg" class="download-button">
      </a>
    </div>
    {% endunless %}
  {% endunless %}
  </aside>
  <!--
  <a href="{{ '/search.html' | relative_url }}" class="topbar-right-button" id="search-button">
    <img src="{{ site.images_url | relative_url }}/search-solid.svg" alt="Search" />
  </a>
  -->
</div>
