/**
  Most of Jupyter Book's CSS is defined in the single-page CSS
  folder. This CSS adds some book-specific CSS rules on top of it.
 */

 // Base page CSS
@import 'page/main';

// OBJECTS (some of these override defaults)
$inuit-wrapper-width: 800px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 8px;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 3px;
$hamburger-layer-color: $color-text;
$hamburger-types: (arrowalt);
@import 'hamburgers/hamburgers';
@import 'objects/objects.thebelab-in-cell-button';

// COMPONENTS
@import 'components/components.book__layout';
@import 'components/components.book__topbar';
@import 'components/components.page__onthispage';
@import 'components/components.page__nav';
@import 'components/components.page__footer';
@import 'components/components.interact-button';
@import 'components/components.thebelab';
@import 'components/components.search';
@import 'components/components.iqx';
@import 'components/components.libket__navbar';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto+Slab&display=swap');
