/**
 * Variables
 */

$serif: Georgia, Times, serif !default;
$sans-serif: Arial, sans-serif !default;
$monospace: "IBM Plex Mono", Monaco, Consolas, "Lucida Console", monospace !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px
 
/* Left-margin (applied if screen is big enough) */
$left-site-margin: 20% !default;
$site-margin-min-width: 1700px !default;
