div.libket__navbar {
        height: $libket-navbar-height;
	background-color: #00a6d6;
	border-bottom: 1px solid rgba(0,0,0,0.07);
	font-size: 1em;
	li > a {
		color: #393939;
	}
	li.entry__active > a {
		color: white;
	}

	ul{
		padding: 0px;
		padding-right: 30px;
	}
	li {
        	display: block;
        	float: right;
		margin-right: 32px;
		padding-top: 18px;
		&.left {
        		float: left;
			font-size: 18px;
			margin-left: 0px;
			margin-right: 8px;
			padding-top: 14px;
			&.navbar__logo {
				padding-top: 15px;
				width: 4.2em;
				margin-left: 10px;
			}
		}
		&.libket-navbar__icons {
			display: none;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 1250px) {
	div.libket__navbar li {
		&.libket-navbar__icons {
			display: block;
		}
	}
}
@media only screen and (max-width: 525px) {
	div.libket__navbar li {
		display: none;
		margin-right: 0px;
		margin-left: 24px;
		&.left{
			display: block;
		}
	}
}
