
.thebelab-cell {
    // To ensure that thebelab cells are always the top of the Z-stack
    position: relative;
    z-index: 999;
    border: 1px solid #BABABB;
    background-color: #F7F7F7;
    border-radius: 0px;
    &:focus-within {
	border-color: $color-buttons;
    }
}

.thebelab-input {
	padding: 12px;
	padding-top: 14px;
}

.thebelab-button {
    z-index: 999;
    display: inline-block;
    padding: 6px 16px; 
    margin: 0;
    margin-right: 4px;
    box-sizing:  border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    background-color: #BABABB;
    border: none;
    color: #000000;
}

.thebelab-button:hover{
    background-color: #0066A2;
    color: white;
}

.thebelab-button:active{
	background-color: white;
	color: #000000;
}

.CodeMirror {
	font-family: "IBM Plex Mono";
	font-size: 0.9em;
}

div.jp-OutputArea-output {
    padding: 18px;
}

.jp-OutputArea-child {
	background-color: white;
	padding: 18px;
}
