<!DOCTYPE html>

{% if page.locale %}
  {% assign page_locale = page.locale %}
{% else %}
  {% assign page_locale = 'en' %}
{% endif %}

<html lang="{{ page_locale }}">
  {% include head.html %}
  <body>
    <!-- Include the ThebeLab config so it gets reloaded on each page -->
    {% include js/thebelab-page-config.html %}
    <!-- .js-show-sidebar shows sidebar by default -->
    <div id="js-textbook" class="c-textbook {% if site.show_sidebar %}js-show-sidebar{% endif %}">
    <div id="libket-navbar" class="libket__navbar">
    {% include libket_navbar.html %}
    </div>

      {% include sidebar.html %}
      {% if page.search_page != true %}
      {% endif %}
      {% include topbar.html %}
      <main class="c-textbook__page" tabindex="-1">
            <div class="c-textbook__content" id="textbook_content">
              {{ content }}
            </div>
            <div class="c-textbook__footer" id="textbook_footer">
              {% include page-nav.html %}
              {% include footer.html %}
            </div>

        </div>
      </main>
    </div>
  </body>
</html>
